<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="DARTimerInterval" value="3600000" />
    <add key="LogDBQuery" value="no" />
    <add key="CommandTimeout" value="1000" />
    <add key="ConnectionStringName" value="iTankDepoConnectionString" />
    <add key="ReportFolder" value="E:\idepo_log\DARReports\" />
    <add key="SmtpMailServer" value="mail.iinterchange.in"/>
    <add key="SmtpAuthEnabled" value="true"/>
    <add key="SmtpUserName" value="srt@iinterchange.in"/>
    <add key="SmtpPassword" value="iic@123"/>
    <add key="SmtpPortNo" value="25"/>
    <add key="LogDBQueryFilePath" value="E:\iInterchange\iTankDepo\iTankDepo\iTankDepoUI\LogFiles\"/>
    <add key="LogFilePath" value="E:\iInterchange\iTankDepo\iTankDepo\iTankDepoUI\LogFiles\"/>
    <add key="LogException" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="Depot" value="BASE"/>
    <add key="FilePath" value="E:\idepo_log\"/>
    <add key="OutputFolder" value="E:\iInterchange\iTankDepo\iTankDepo\iTankDepoUI\Upload\EDI\OUTPUT\"/>
    <add key="TempFolder" value="E:\iInterchange\iTankDepo\iTankDepo\iTankDepoUI\Upload\EDI\TEMP\"/>
    <add key="Extn" value=".exp"/>
    <add key="TimeStampRequired" value="False"/>
    <add key="DateStampRequired" value="False"/>
    <add key="DateTimeStampRequired" value="True"/>
    <add key="FromMailId" value="karthick.p@iinterchange.com"/>
    <add key="diagnostic" value="true"/>
  </appSettings >
  <connectionStrings>
    <add name="iTankDepoConnectionString" connectionString="Data Source=IICHVW12RDS\SQL2008R2;Initial Catalog=iTankDepo;User ID=sa;Password=sa@123" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
