<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="XMLTimerInterval" value="3600000" />
    <add key="LogDBQuery" value="no" />
    <add key="CommandTimeout" value="1000" />
    <add key="ConnectionStringName" value="iTankDepoConnectionString" />
    <add key="SmtpMailServer" value="mail.iinterchange.in" />
    <add key="SmtpAuthEnabled" value="true" />
    <add key="SmtpUserName" value="srt@iinterchange.in" />
    <add key="SmtpPassword" value="iic@123" />
    <add key="SmtpPortNo" value="25" />
    <add key="LogDBQueryFilePath" value="E:\iInterchange\iTankDepo\iTankDepo\iTankDepoUI\LogFiles\" />
    <add key="LogFilePath" value="E:\iInterchange\iTankDepo\iTankDepo-Dev\iTankDepoUI\LogFiles\" />
    <add key="LogException" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="Depot" value="1" />
    <add key="FilePath" value="E:\idepo_log\" />
    <!--<add key="XmlSource" value="E:\iInterchange\iTankDepo\iTankDepo-Dev\iTankDepoUI\Xml\Generated\" />
    <add key="PDFSource" value="E:\iInterchange\iTankDepo\iTankDepo-Dev\iTankDepoUI\Upload\Invoice\FINAL\" />
    <add key="FTPToLocal" value="E:\iInterchange\iTankDepo\iTankDepo-Dev\iTankDepoUI\Reply\" />
    <add key="Processsed" value="E:\iInterchange\iTankDepo\iTankDepo-Dev\iTankDepoUI\Xml\Sent\" />
    <add key="Archieved" value="E:\iInterchange\iTankDepo\iTankDepo-Dev\iTankDepoUI\ArchievedFiles\" />-->
    <add key="XmlSource" value="\\ivpc0022\wwwroot\iTankDepo\iTankDepo_28012015\Xml\Generated\" />
    <add key="PDFSource" value="\\ivpc0022\wwwroot\iTankDepo\iTankDepo_28012015\Upload\Invoice\FINAL\" />
    <add key="FTPToLocal" value="\\ivpc0022\wwwroot\iTankDepo\iTankDepo_28012015\Reply\" />
    <add key="Processsed" value="\\ivpc0022\wwwroot\iTankDepo\iTankDepo_28012015\Xml\Sent\" />
    <add key="Archieved" value="\\ivpc0022\wwwroot\iTankDepo\iTankDepo_28012015\ArchievedFiles\" />
    <add key="TimeStampRequired" value="False" />
    <add key="DateStampRequired" value="False" />
    <add key="DateTimeStampRequired" value="True" />
    <add key="TemplatesFolder" value="E:\iInterchange\iTankDepo\iTankDepo-Dev\iTankDepoUI\Templates\" />
    <add key ="FromMailID" value ="accounts@jts.ae"/>
    <!--<add key="ToMail" value="vinothkumar@iinterchange.com" />-->
  </appSettings>
  <connectionStrings>
    <add name="iTankDepoConnectionString" connectionString="Data Source=ivpc0022\SQL2008R2;Initial Catalog=iTankDepoQA;User ID=sa;Password=sql@123" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>