<appSettings>
  <add key="UploadAttachPath" value="D:\Upload"/>
  <add key="UploadPhyPath" value="D:\Upload"/>
  <add key="DepotID" value="1"/>
    <add key ="UploadFilter" value ="gif,png,jpg,jpeg,txt,pdf,doc,docx,xls,xlsx"/>
    <add key="NoImagePath" value ="NoPreview.jpg"/>
    <add key="RepairActivity" value ="'Repair Estimate','Repair Approval','Repair Completion'"/>
    <add key="ImageFormat" value ="gif,png,jpg,jpeg"/>
    <add key="FileFormat" value ="txt,pdf,doc,docx,xls,xlsx"/>
</appSettings>