<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="DARTimerInterval" value="60000" />
    <add key="LogDBQuery" value="no" />
    <add key="CommandTimeout" value="1000" />
    <add key="ConnectionStringName" value="iTankDepoConnectionString" />
    <add key="SmtpMailServer" value="mail.iinterchange.in" />
    <add key="SmtpAuthEnabled" value="true" />
    <add key="SmtpUserName" value="srt@iinterchange.in" />
    <add key="SmtpPassword" value="iic@123" />
    <add key="LogDBQueryFilePath" value="E:\iInterchange\iTankDepo\iTankDepo\iTankDepoUI\LogFiles\"/>
    <add key="LogFilePath" value="E:\iInterchange\iTankDepo\iTankDepo\iTankDepoUI\LogFiles\"/>
    <add key="LogException" value="true" />
    <add key="SmtpPortNo" value="25" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key ="FromMailID" value ="karthick.p@iinterchange.com"/>
    <add key="Depot" value="1"/>
    <add key="UploadPhotoPath" value="E:\iInterchange\iTankDepo\iTankDepo\iTankDepoUI\Upload\Photo\"/>
    <add key="statusRDLCName" value="StatusReport" />
    <add key ="Format" value ="EXCEL"/>
    <add key="ReportPath" value ="E:\iInterchange\iTankDepo\iTankDepo\iTankDepoUI\Reports\rdlc\"/>
    <add key="diagnostic" value="false"/>
    <add key="GenerateTime" value="17:25"/>
    <add key ="SentMailLogPath" value ="E:\iInterchange\iTankDepo\iTankDepo\iTankDepoUI\LogFiles\"/>
    <add key ="JTSLogo" value ="..\JTS_Logo.png"/>
  </appSettings >
  <connectionStrings>
    <add name="iTankDepoConnectionString" connectionString="Data Source=10.1.193.53\SQL2008R2;Initial Catalog=iTankDepoQA;User ID=sa;Password=sa@123" providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
