<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="DARTimerInterval" value="60000" />
    <add key="LogDBQuery" value="no" />
    <add key="CommandTimeout" value="1000" />
    <add key="ConnectionStringName" value="iTankDepoConnectionString" />
    <add key="SmtpMailServer" value="mail.iinterchange.in" />
    <add key="SmtpAuthEnabled" value="true" />
    <add key="SmtpUserName" value="srt@iinterchange.in" />
    <add key="SmtpPassword" value="iic@123" />
    <add key="LogDBQueryFilePath" value="E:\iInterchange\iTankDepo\iTankDepo\iTankDepoUI\LogFiles\"/>
    <add key="LogFilePath" value="E:\iInterchange\iTankDepo\iTankDepo\iTankDepoUI\LogFiles\"/>
    <add key="LogException" value="true" />
    <add key="SmtpPortNo" value="25" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key ="FromMailID" value ="karthick.p@iinterchange.com"/>
    <add key="Depot" value="1"/>
    <add key="UploadPhotoPath" value="E:\iInterchange\iTankDepo\iTankDepo\iTankDepoUI\Upload\Photo\"/>
    <add key="statusRDLCName" value="StatusReport" />
    <add key ="Format" value ="EXCEL"/>
    <add key="ReportPath" value ="E:\iInterchange\iTankDepo\iTankDepo\Services\DAR\RDLC\"/>
    <add key="diagnostic" value="true"/>
    <add key="GenerateTime" value="18:00"/>
    <add key ="SentMailLogPath" value ="E:\iInterchange\iTankDepo\iTankDepo\iTankDepoUI\LogFiles\"/>
    <add key ="JTSLogo" value ="..\JTS_Logo.png"/>
  </appSettings>
  <connectionStrings>
    <add name="iTankDepoConnectionString" connectionString="Data Source=ivpc0022\SQL2008R2;Initial Catalog=iTankDepoGWSQA;User ID=sa;Password=sql@123" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>