<appSettings>
    <add key="ConnectionString" value="Data Source=103.21.58.193;Initial Catalog=iTankDepoDB;User ID=iTankDepoDB;Password=iTankDepoDB"/>
    <add key="providerName" value="System.Data.SqlClient"/>
    <add key="CommandTimeout" value="1000"/>
    <add key="LkpChooseTable" value="True"/>
    <add key="ScriptsFolder" value="/Script/Controls/"/>
    <add key="LkpKeyCode" value="40"/>
    <add key="TraceReport" value="True"/>
    <add key="ImagesFolder" value="/Images/"/>
    <add key="ConnectionStringName" value="iTankDepoConnectionString"/>
    <add key="LogDBQueryFilePath" value="E:\iInterchange\iTankDepo\iTankDepoUI\LogFiles\"/>
    <add key="ApplyDefaultStyle" value="True"/>
    <add key="LgCSS" value="gstd"/>
    <add key="LgHdrCss" value="ghdr"/>
    <add key="LgItmCss" value="gitem"/>
    <add key="LgSelItmCss" value="gaitemL"/>
    <add key="LgPgCss" value="gpage"/>
    <add key="LogDBQuery" value="no"/>
    <add key="iCFocusCss" value="lkpo"/>
    <add key="iCBlurCss" value="txt"/>
    <add key="iCHelpEnabled" value="True"/>
    <add key="iCHelpKey" value="112"/>
    <add key="iCHelpKeyEvent" value="F1help"/>
    <add key="iCIsCustomHelp" value="True"/>
    <add key="iCHelpEvent" value="Control_onFocus"/>
    <add key="iCFocusEvent" value=""/>
    <add key="iCBlurEvent" value=""/>
    <add key="iCTabOnBeforeSelectedEvent" value=" OBTabSel();"/>
    <add key="TemplatesFolder" value="E:\iInterchange\iTankDepo\iTankDepoUI\Templates\"/>
    <add key="SmtpMailServer" value="mail.iinterchange.in"/>
    <add key="SmtpAuthEnabled" value="true"/>
    <add key="SmtpUserName" value="srt@iinterchange.in"/>
    <add key="SmtpPassword" value="iic@123"/>
    <add key="FromEmail" value="iTankDepo@iinterchange.com"/>
    <add key="SmtpPortNo" value="25"/>
    <add key="StartTLS" value="False"/>
    <add key="RoleRightMenuPath" value="script/Menu/"/>
    <add key="appnam" value="iTankDepo"/>
    <add key="errorrss" value="false"/>
    <add key="LogException" value="true"/>
    <add key="LogFilePath" value="E:\iInterchange\iTankDepo\iTankDepoUI\LogFiles\"/>
    <add key="ExcelFileSize" value="5120000"/>
    <add key="ExcelFileNameLength" value="46"/>
    <!--<add key="UploadPhyPath" value="E:\iinterchange\iTankDepo\iTankDepoUI\Upload\PrintDocuments\"/>-->
    <add key="UploadPhyPath" value="E:\ItankPublish\iinterchange\iTankDepo\iTankDepoUI\Upload\Photo\"/>
    <add key="UploadAttachPath" value="E:\ItankPublish\iinterchange\iTankDepo\iTankDepoUI\Upload\Photo\"/>
    <add key="AttachmentURL" value="http://192.168.0.114/ItankPublish/Upload/Photo/"/>
  <!--<add key="AttachmentURL" value="http://10.1.193.86/ITankDepoMobile/iTankDepoUI/Upload/Photo/"/>-->
  <!--<add key="AttachmentURL" value="http://trial.iinterchange.net/ITankDepoMobile/iTankDepoUI/Upload/Photo/"/>-->
    <add key="DownloadAttachPath" value="icpu0126/iTankDepoUI/Download.ashx"/>
    <add key="PrintDocuments" value="E:\iinterchange\iTankDepo\iTankDepoUI\Upload\\PrintDocuments\"/>
    <add key="ExcelFileConnectionString" value="Provider=Microsoft.ACE.OLEDB.12.0;Extended Properties='Excel 12.0 Xml;HDR=NO;IMEX=1;'"/>
    <add key="ExcelSheetName" value="DATA"/>
    <add key="UploadProformaPath" value="E:\iinterchange\iTankDepo\iTankDepoUI\Upload\Proforma"/>
    <add key="ReportLogoURL" value="Images/customerlogo.png"/>
    <add key="GenerateEDI" value="True"/>
    <add key="MaxRevision" value="9"/>
    <add key="OutputFolder" value="E:\iinterchange\iTankDepo\iTankDepoUI\Upload\EDI\OUTPUT\"/>
    <add key="TempFolder" value="E:\iinterchange\iTankDepo\iTankDepoUI\Upload\EDI\TEMP\"/>
    <add key="Extn" value=".exp"/>
    <add key="ActGatein" value="GATEIN"/>
    <add key="ActGateout" value="GATEOUT"/>
    <add key="ActEstimate" value="ESTIMATE"/>
    <add key="ActRepairComplete" value="REPAIRCOMPLETE"/>
    <add key="TimeStampRequired" value="False"/>
    <add key="DateStampRequired" value="False"/>
    <add key="DateTimeStampRequired" value="True"/>
    <add key="KeyFileName" value="iTankDepo.lic"/>
    <add key="UploadPhotoSize" value="6283135"/>
    <!--<add key="UploadPhotoPath" value="../Upload/Photo/"/>-->
  <add key="UploadPhotoPath" value="../Upload/Photo/"/>
  <add key="UploadDocPath" value="../Upload/Photo/"/>
    <add key="BulkEmailFromMailID" value="srt@iinterchange.in"/>
    <add key ="PhotoUserName" value="PHOTO"/>
    <add key ="PhotoPassword" value ="TankDepo"/>
    <add key="LeafPhoto" value ="../Upload/Photo/LeafPhoto.png"/>
    <add key="CouncilPhoto" value ="../Upload/Photo/GreenBuildingLogo.png"/>
  <add key="Title" value="iTankDpeoGWS"/>
  <add key ="ReportServicePath" value ="http://iic51/reportserver_sql2008r2/ReportService2005.asmx"/>
  <add key="ReportServerUID" value="reportsuser"/>
  <add key="ReportServerPWD" value="password"/>
  <add key="ReportServerCredential" value="true"/>
  <add key="ReportFolderpath" value="/iTankDepo/Reports/"/>
  <add key="ReportServerPath" value="http://iic51/Reportserver_SQL2008R2"/>
    <add key="DocumentLogo" value ="../Upload/Photo/JTS_Logo.png"/>
    <add key="UploadPhotoFileLength" value="100"/>
    <add key="BulkEmailSubject" value="Bulk Email"/>
    <add key="EncryptKey" value ="IIC"/>
    <add key="UploadBulkEmail" value = "E:\iInterchange\iTankDepo\iTankDepo_UIG_1.04.000.000\iTankDepoUI\Upload\BulkEmail\ "/>
    <add key="BulkEmailLocalURL" value ="icpu0126/PhotoViewer/"/>
  <add key="RSCabURL" value="http://icpu0058/iTankDepoui_1/RSClientPrint.cab"/>
    <add key ="Version" value ="1.03.005.000"/>
    <add key="UploadEquipmentnformation" value="E:\iinterchange\iTankDepo\iTankDepoUI\Upload\EquipmentInformation\"/>
    <add key ="DownloadEquipmentInformation" value ="http://icpu0107/itankdepoUI/upload/EquipmentInformation/"/>
    <add key="UploadEquipmentnformationSize" value="4194304"/>
    <add key="UploadEquipmentnformationFileLength" value="100"/>
    <add key="UploadProductSize" value="4194304"/>
    <add key="UploadProductFileLength" value="100"/>
    <add key="UploadProduct" value="E:\iinterchange\iTankDepo\iTankDepoUI\Upload\Product\"/>
    <add key ="DownloadProduct" value ="http://icpu0058/itankdepoUI/upload/Product/"/>  
    <add key="IsUnderMaintenance" value="false"/>
    <add key="MaintenanceStartTime" value="11:30 "/>
    <add key="MaintenanceTime" value="30"/>
    <add key="EDIFileStamp" value=""/>
   <add key="DashboardApi.DashboardApi" value="http://10.1.193.53:8081/IntelliviewNXT/ServiceApi/DashboardApi.asmx"/>
    <!--<add key="DashboardApi.DashboardApi" value="http://10.1.193.54:8081/IntelliviewNXT/ServiceApi/DashboardApi.asmx"/>-->
    <!--<add key="DashboardApi.DashboardApi" value="http://115.115.218.200:8081/IntelliviewNXT/ServiceApi/DashboardApi.asmx"/>-->
    <add key="CompanyShortName" value="IIC"/>
    <add key="ReportID" value="33"/>
    <!--<add key="ReportID" value="26"/>-->
        <add key="CompanyID" value="2"/>
    <add key="UserName" value="dbuser"/>
    <add key="Password" value="password"/>
    <add key="TotalDepotCount" value="3"/>
  <add key="ExcelUploadPhyPath" value="E:\iinterchange\iTankDepo\iTankDepoUI\Upload\ExcelUpload\"/>
  <add key="GenerateXml" value="E:\iinterchange\iTankDepo\iTankDepoUI\Upload\XML\Generated\" />
  <add key="XMLEDI" value="E:\iinterchange\iTankDepo\iTankDepoUI\Upload\Upload\XML\" />
  <add key="Received" value="E:\iinterchange\iTankDepo\iTankDepoUI\Upload\Upload\Archived\" />
</appSettings>