<client>
    <endpoint address="net.tcp://10.1.193.126:60001/iInterchange/iMars/Business/Admin/CommonUI/mex" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_CommonUI" contract="CommonUI" name="NetTcpBinding_CommonUI">
        <identity>
            <servicePrincipalName value="host/IMARSAS1"></servicePrincipalName>
        </identity>
    </endpoint>
    <endpoint address="net.tcp://10.1.193.126:60002/iInterchange/iMars/Business/Dashboard/Dashboard/mex" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Dashboard" contract="Dashboard" name="NetTcpBinding_Dashboard">
        <identity>
            <servicePrincipalName value="host/IMARSAS1"></servicePrincipalName>
        </identity>
    </endpoint>
    <endpoint address="net.tcp://10.1.193.126:60003/iInterchange/iMars/Business/Masters/Allocation/mex" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Allocation" contract="Allocation" name="NetTcpBinding_Allocation">
        <identity>
            <servicePrincipalName value="host/IMARSAS1"></servicePrincipalName>
        </identity>
    </endpoint>
    <endpoint address="net.tcp://10.1.193.126:60004/iInterchange/iMars/Business/MnR/Audit/mex" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Audit" contract="Audit" name="NetTcpBinding_Audit">
        <identity>
            <servicePrincipalName value="host/IMARSAS1"></servicePrincipalName>
        </identity>
    </endpoint>
    <endpoint address="net.tcp://10.1.193.126:60005/iInterchange/iMars/Business/Partner/Pool/mex" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Pool" contract="Pool" name="NetTcpBinding_Pool">
        <identity>
            <servicePrincipalName value="host/IMARSAS1"></servicePrincipalName>
        </identity>
    </endpoint>
    <endpoint address="net.tcp://10.1.193.126:60001/iInterchange/iMars/Business/Admin/EDIError/mex" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_EDIError" contract="EDIError" name="NetTcpBinding_EDIError">
        <identity>
            <servicePrincipalName value="host/IMARSAS1"></servicePrincipalName>
        </identity>
    </endpoint>
    <endpoint address="net.tcp://10.1.193.126:60004/iInterchange/iMars/Business/MnR/Estimate/mex" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Estimate" contract="Estimate" name="NetTcpBinding_Estimate">
        <identity>
            <servicePrincipalName value="host/IMARSAS1"></servicePrincipalName>
        </identity>
    </endpoint>
    <endpoint address="net.tcp://10.1.193.126:60005/iInterchange/iMars/Business/Partner/RepairCompany/mex" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_RepairCompany" contract="RepairCompany" name="NetTcpBinding_RepairCompany">
        <identity>
            <servicePrincipalName value="host/IMARSAS1"></servicePrincipalName>
        </identity>
    </endpoint>
    <endpoint address="net.tcp://10.1.193.126:60001/iInterchange/iMars/Business/Admin/News/mex" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_News" contract="News" name="NetTcpBinding_News">
        <identity>
            <servicePrincipalName value="host/IMARSAS1"></servicePrincipalName>
        </identity>
    </endpoint>
    <endpoint address="net.tcp://10.1.193.126:60004/iInterchange/iMars/Business/MnR/InvoiceGeneration/mex" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_InvoiceGeneration" contract="InvoiceGeneration" name="NetTcpBinding_InvoiceGeneration">
        <identity>
            <servicePrincipalName value="host/IMARSAS1"></servicePrincipalName>
        </identity>
    </endpoint>
    <endpoint address="net.tcp://10.1.193.126:60005/iInterchange/iMars/Business/Partner/Surveyor/mex" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Surveyor" contract="Surveyor" name="NetTcpBinding_Surveyor">
        <identity>
            <servicePrincipalName value="host/IMARSAS1"></servicePrincipalName>
        </identity>
    </endpoint>
    <endpoint address="net.tcp://10.1.193.126:60001/iInterchange/iMars/Business/Admin/Organization/mex" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Organization" contract="Organization" name="NetTcpBinding_Organization">
        <identity>
            <servicePrincipalName value="host/IMARSAS1"></servicePrincipalName>
        </identity>
    </endpoint>
    <endpoint address="net.tcp://10.1.193.126:60004/iInterchange/iMars/Business/MnR/InvoiceGroup/mex" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_InvoiceGroup" contract="InvoiceGroup" name="NetTcpBinding_InvoiceGroup">
        <identity>
            <servicePrincipalName value="host/IMARSAS1"></servicePrincipalName>
        </identity>
    </endpoint>
    <endpoint address="net.tcp://10.1.193.126:60001/iInterchange/iMars/Business/Admin/RoleRight/mex" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_RoleRight" contract="RoleRight" name="NetTcpBinding_RoleRight">
        <identity>
            <servicePrincipalName value="host/IMARSAS1"></servicePrincipalName>
        </identity>
    </endpoint>
    <endpoint address="net.tcp://10.1.193.126:60004/iInterchange/iMars/Business/MnR/RepairTree/mex" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_RepairTree" contract="RepairTree" name="NetTcpBinding_RepairTree">
        <identity>
            <servicePrincipalName value="host/IMARSAS1"></servicePrincipalName>
        </identity>
    </endpoint>
    <endpoint address="net.tcp://10.1.193.126:60001/iInterchange/iMars/Business/Admin/User/mex" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_User" contract="User" name="NetTcpBinding_User">
        <identity>
            <servicePrincipalName value="host/IMARSAS1"></servicePrincipalName>
        </identity>
    </endpoint>
    <endpoint address="net.tcp://10.1.193.126:60004/iInterchange/iMars/Business/MnR/SpecialInstruction/mex" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_SpecialInstruction" contract="SpecialInstruction" name="NetTcpBinding_SpecialInstruction">
        <identity>
            <servicePrincipalName value="host/IMARSAS1"></servicePrincipalName>
        </identity>
    </endpoint>
    <endpoint address="net.tcp://10.1.193.126:60004/iInterchange/iMars/Business/MnR/Tariff/mex" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Tariff" contract="Tariff" name="NetTcpBinding_Tariff">
        <identity>
            <servicePrincipalName value="host/IMARSAS1"></servicePrincipalName>
        </identity>
    </endpoint>
    <endpoint address="net.tcp://10.1.193.126:60006/iInterchange/iMars/Business/Services/Alert/mex" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Alert" contract="Alert" name="NetTcpBinding_Alert">
        <identity>
            <servicePrincipalName value="host/IMARSAS1"></servicePrincipalName>
        </identity>
    </endpoint>
    <endpoint address="net.tcp://10.1.193.126:60003/iInterchange/iMars/Business/Masters/City/mex" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_City" contract="City" name="NetTcpBinding_City">
        <identity>
            <servicePrincipalName value="host/IMARSAS1"></servicePrincipalName>
        </identity>
    </endpoint>
    <endpoint address="net.tcp://10.1.193.126:60003/iInterchange/iMars/Business/Masters/CodeMaster/mex" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_CodeMaster" contract="CodeMaster" name="NetTcpBinding_CodeMaster">
        <identity>
            <servicePrincipalName value="host/IMARSAS1"></servicePrincipalName>
        </identity>
    </endpoint>
    <endpoint address="net.tcp://10.1.193.126:60003/iInterchange/iMars/Business/Masters/Component/mex" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Component" contract="Component" name="NetTcpBinding_Component">
        <identity>
            <servicePrincipalName value="host/IMARSAS1"></servicePrincipalName>
        </identity>
    </endpoint>
    <endpoint address="net.tcp://10.1.193.126:60003/iInterchange/iMars/Business/Masters/Country/mex" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Country" contract="Country" name="NetTcpBinding_Country">
        <identity>
            <servicePrincipalName value="host/IMARSAS1"></servicePrincipalName>
        </identity>
    </endpoint>
    <endpoint address="net.tcp://10.1.193.126:60003/iInterchange/iMars/Business/Masters/Currency/mex" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Currency" contract="Currency" name="NetTcpBinding_Currency">
        <identity>
            <servicePrincipalName value="host/IMARSAS1"></servicePrincipalName>
        </identity>
    </endpoint>
    <endpoint address="net.tcp://10.1.193.126:60003/iInterchange/iMars/Business/Masters/Damage/mex" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Damage" contract="Damage" name="NetTcpBinding_Damage">
        <identity>
            <servicePrincipalName value="host/IMARSAS1"></servicePrincipalName>
        </identity>
    </endpoint>
    <endpoint address="net.tcp://10.1.193.126:60003/iInterchange/iMars/Business/Masters/DecisionReason/mex" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_DecisionReason" contract="DecisionReason" name="NetTcpBinding_DecisionReason">
        <identity>
            <servicePrincipalName value="host/IMARSAS1"></servicePrincipalName>
        </identity>
    </endpoint>
    <endpoint address="net.tcp://10.1.193.126:60003/iInterchange/iMars/Business/Masters/EquipmentGrade/mex" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_EquipmentGrade" contract="EquipmentGrade" name="NetTcpBinding_EquipmentGrade">
        <identity>
            <servicePrincipalName value="host/IMARSAS1"></servicePrincipalName>
        </identity>
    </endpoint>
    <endpoint address="net.tcp://10.1.193.126:60003/iInterchange/iMars/Business/Masters/EquipmentISOGroup/mex" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_EquipmentISOGroup" contract="EquipmentISOGroup" name="NetTcpBinding_EquipmentISOGroup">
        <identity>
            <servicePrincipalName value="host/IMARSAS1"></servicePrincipalName>
        </identity>
    </endpoint>
    <endpoint address="net.tcp://10.1.193.126:60006/iInterchange/iMars/Business/Services/DataIntegration/mex" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_DataIntegration" contract="DataIntegration" name="NetTcpBinding_DataIntegration">
        <identity>
            <servicePrincipalName value="host/IMARSAS1"></servicePrincipalName>
        </identity>
    </endpoint>
    <endpoint address="net.tcp://10.1.193.126:60006/iInterchange/iMars/Business/Services/EAE/mex" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_EAE" contract="EAE" name="NetTcpBinding_EAE">
        <identity>
            <servicePrincipalName value="host/IMARSAS1"></servicePrincipalName>
        </identity>
    </endpoint>
    <endpoint address="net.tcp://10.1.193.126:60003/iInterchange/iMars/Business/Masters/EquipmentSize/mex" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_EquipmentSize" contract="EquipmentSize" name="NetTcpBinding_EquipmentSize">
        <identity>
            <servicePrincipalName value="host/IMARSAS1"></servicePrincipalName>
        </identity>
    </endpoint>
    <endpoint address="net.tcp://10.1.193.126:60003/iInterchange/iMars/Business/Masters/EquipmentType/mex" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_EquipmentType" contract="EquipmentType" name="NetTcpBinding_EquipmentType">
        <identity>
            <servicePrincipalName value="host/IMARSAS1"></servicePrincipalName>
        </identity>
    </endpoint>
    <endpoint address="net.tcp://10.1.193.126:60003/iInterchange/iMars/Business/Masters/ExchangeRate/mex" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ExchangeRate" contract="ExchangeRate" name="NetTcpBinding_ExchangeRate">
        <identity>
            <servicePrincipalName value="host/IMARSAS1"></servicePrincipalName>
        </identity>
    </endpoint>
    <endpoint address="net.tcp://10.1.193.126:60003/iInterchange/iMars/Business/Masters/ISOType/mex" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISOType" contract="ISOType" name="NetTcpBinding_ISOType">
        <identity>
            <servicePrincipalName value="host/IMARSAS1"></servicePrincipalName>
        </identity>
    </endpoint>
    <endpoint address="net.tcp://10.1.193.126:60003/iInterchange/iMars/Business/Masters/Location/mex" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Location" contract="Location" name="NetTcpBinding_Location">
        <identity>
            <servicePrincipalName value="host/IMARSAS1"></servicePrincipalName>
        </identity>
    </endpoint>
    <endpoint address="net.tcp://10.1.193.126:60003/iInterchange/iMars/Business/Masters/Location1stChar/mex" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Location1stChar" contract="Location1stChar" name="NetTcpBinding_Location1stChar">
        <identity>
            <servicePrincipalName value="host/IMARSAS1"></servicePrincipalName>
        </identity>
    </endpoint>
    <endpoint address="net.tcp://10.1.193.126:60003/iInterchange/iMars/Business/Masters/Location2ndChar/mex" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Location2ndChar" contract="Location2ndChar" name="NetTcpBinding_Location2ndChar">
        <identity>
            <servicePrincipalName value="host/IMARSAS1"></servicePrincipalName>
        </identity>
    </endpoint>
    <endpoint address="net.tcp://10.1.193.126:60003/iInterchange/iMars/Business/Masters/Material/mex" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Material" contract="Material" name="NetTcpBinding_Material">
        <identity>
            <servicePrincipalName value="host/IMARSAS1"></servicePrincipalName>
        </identity>
    </endpoint>
    <endpoint address="net.tcp://10.1.193.126:60006/iInterchange/iMars/Business/Services/EDI/mex" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_EDI" contract="EDI" name="NetTcpBinding_EDI">
        <identity>
            <servicePrincipalName value="host/IMARSAS1"></servicePrincipalName>
        </identity>
    </endpoint>
    <endpoint address="net.tcp://10.1.193.126:60006/iInterchange/iMars/Business/Services/Invoice/mex" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Invoice" contract="Invoice" name="NetTcpBinding_Invoice">
        <identity>
            <servicePrincipalName value="host/IMARSAS1"></servicePrincipalName>
        </identity>
    </endpoint>
    <endpoint address="net.tcp://10.1.193.126:60006/iInterchange/iMars/Business/Services/Upload/mex" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Upload" contract="Upload" name="NetTcpBinding_Upload">
        <identity>
            <servicePrincipalName value="host/IMARSAS1"></servicePrincipalName>
        </identity>
    </endpoint>
    <endpoint address="net.tcp://10.1.193.126:60003/iInterchange/iMars/Business/Masters/MeasureUnit/mex" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_MeasureUnit" contract="MeasureUnit" name="NetTcpBinding_MeasureUnit">
        <identity>
            <servicePrincipalName value="host/IMARSAS1"></servicePrincipalName>
        </identity>
    </endpoint>
    <endpoint address="net.tcp://10.1.193.126:60003/iInterchange/iMars/Business/Masters/MnRError/mex" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_MnRError" contract="MnRError" name="NetTcpBinding_MnRError">
        <identity>
            <servicePrincipalName value="host/IMARSAS1"></servicePrincipalName>
        </identity>
    </endpoint>
    <endpoint address="net.tcp://10.1.193.126:60003/iInterchange/iMars/Business/Masters/MnRSize/mex" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_MnRSize" contract="MnRSize" name="NetTcpBinding_MnRSize">
        <identity>
            <servicePrincipalName value="host/IMARSAS1"></servicePrincipalName>
        </identity>
    </endpoint>
    <endpoint address="net.tcp://10.1.193.126:60003/iInterchange/iMars/Business/Masters/MnRType/mex" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_MnRType" contract="MnRType" name="NetTcpBinding_MnRType">
        <identity>
            <servicePrincipalName value="host/IMARSAS1"></servicePrincipalName>
        </identity>
    </endpoint>
    <endpoint address="net.tcp://10.1.193.126:60003/iInterchange/iMars/Business/Masters/MnRZone/mex" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_MnRZone" contract="MnRZone" name="NetTcpBinding_MnRZone">
        <identity>
            <servicePrincipalName value="host/IMARSAS1"></servicePrincipalName>
        </identity>
    </endpoint>
    <endpoint address="net.tcp://10.1.193.126:60003/iInterchange/iMars/Business/Masters/PayingAgent/mex" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_PayingAgent" contract="PayingAgent" name="NetTcpBinding_PayingAgent">
        <identity>
            <servicePrincipalName value="host/IMARSAS1"></servicePrincipalName>
        </identity>
    </endpoint>
    <endpoint address="net.tcp://10.1.193.126:60003/iInterchange/iMars/Business/Masters/RebateReason/mex" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_RebateReason" contract="RebateReason" name="NetTcpBinding_RebateReason">
        <identity>
            <servicePrincipalName value="host/IMARSAS1"></servicePrincipalName>
        </identity>
    </endpoint>
    <endpoint address="net.tcp://10.1.193.126:60003/iInterchange/iMars/Business/Masters/Region/mex" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Region" contract="Region" name="NetTcpBinding_Region">
        <identity>
            <servicePrincipalName value="host/IMARSAS1"></servicePrincipalName>
        </identity>
    </endpoint>
    <endpoint address="net.tcp://10.1.193.126:60003/iInterchange/iMars/Business/Masters/Repair/mex" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Repair" contract="Repair" name="NetTcpBinding_Repair">
        <identity>
            <servicePrincipalName value="host/IMARSAS1"></servicePrincipalName>
        </identity>
    </endpoint>
    <endpoint address="net.tcp://10.1.193.126:60003/iInterchange/iMars/Business/Masters/Responsibility/mex" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Responsibility" contract="Responsibility" name="NetTcpBinding_Responsibility">
        <identity>
            <servicePrincipalName value="host/IMARSAS1"></servicePrincipalName>
        </identity>
    </endpoint>
    <endpoint address="net.tcp://10.1.193.126:60003/iInterchange/iMars/Business/Masters/State/mex" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_State" contract="State" name="NetTcpBinding_State">
        <identity>
            <servicePrincipalName value="host/IMARSAS1"></servicePrincipalName>
        </identity>
    </endpoint>
    <endpoint address="net.tcp://10.1.193.126:60003/iInterchange/iMars/Business/Masters/SurveyType/mex" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_SurveyType" contract="SurveyType" name="NetTcpBinding_SurveyType">
        <identity>
            <servicePrincipalName value="host/IMARSAS1"></servicePrincipalName>
        </identity>
    </endpoint>
    <endpoint address="net.tcp://10.1.193.126:60003/iInterchange/iMars/Business/Masters/TaxType/mex" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_TaxType" contract="TaxType" name="NetTcpBinding_TaxType">
        <identity>
            <servicePrincipalName value="host/IMARSAS1"></servicePrincipalName>
        </identity>
    </endpoint>
    <endpoint address="http://jeecommon-dev.cma-cgm.com:7003/lara-ws/LaraLeaseAgreementSoap12HttpPort" binding="customBinding" bindingConfiguration="LaraLeaseAgreementSoap12HttpPortBinding" contract="LaraLeaseAgreement" name="LaraLeaseAgreementSoap12HttpPort" behaviorConfiguration="LaraServiceEndpointBehavior" />
    <endpoint address="http://jeecommon-dev.cma-cgm.com:7003/lara-ws/LaraSoap12HttpPort" binding="customBinding" bindingConfiguration="LaraContainerSoap12HttpPortBinding" contract="LaraContainer" name="LaraContainerSoap12HttpPort" behaviorConfiguration="LaraServiceEndpointBehavior" />
    <endpoint address="http://jeecommon-dev.cma-cgm.com:7003/c3d-ws/C3DwsSoap12HttpPort" binding="customBinding" bindingConfiguration="C3DwsSoapHttp" contract="C3Dws" name="C3DwsSoap12HttpPort" behaviorConfiguration="C3DServiceEndpointBehavior" />
    <endpoint address="https://cmaidpre.cma-cgm.com/BackendService/Service.svc" binding="ws2007FederationHttpBinding" bindingConfiguration="WS2007FederationHttpBinding_IService" contract="BackendServiceReference.IService" name="WS2007FederationHttpBinding_IService" />
</client>