<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
  <namespaces>
    <clear/>
    <add namespace="System"/>
    <add namespace="System.Collections"/>
    <add namespace="System.Data"/>
    <add namespace="System.Collections.Generic"/>
    <add namespace="System.Collections.Specialized"/>
    <add namespace="System.Configuration"/>
    <add namespace="System.Text"/>
    <add namespace="System.Text.RegularExpressions"/>
    <add namespace="System.Web"/>
    <add namespace="System.Web.Caching"/>
    <add namespace="System.Web.SessionState"/>
    <add namespace="System.Web.Security"/>
    <add namespace="System.Web.Profile"/>
    <add namespace="System.Web.UI"/>
    <add namespace="System.Web.UI.WebControls"/>
    <add namespace="System.Web.UI.WebControls.WebParts"/>
    <add namespace="System.Web.UI.HtmlControls"/>
    <add namespace="iInterchange.Framework"/>
    <add namespace="iInterchange.Framework.UI"/>
    <add namespace="iInterchange.WebControls.v4.Data"/>
    <add namespace="iInterchange.WebControls.v4.Input"/>
    <add namespace="iInterchange.WebControls.v4.Utilities"/>
    <add namespace="iInterchange.WebControls.v4.Navigation"/>
    <add namespace="iInterchange.Framework.Security"/>
    <add namespace="iInterchange.iTankDepo.Business.Admin"/>
    <add namespace="iInterchange.iTankDepo.Business.Billing" />
    <add namespace="iInterchange.iTankDepo.Business.Dashboard"/>
    <add namespace="iInterchange.iTankDepo.Business.DynamicReport"/>
    <add namespace="iInterchange.iTankDepo.Business.Common"/>
    <add namespace="iInterchange.iTankDepo.Business.EDI"/>
    <add namespace="iInterchange.iTankDepo.Business.Masters"/>
    <add namespace="iInterchange.iTankDepo.Business.Operations"/>
    <add namespace="iInterchange.iTankDepo.Business.Upload"/>
    <add namespace="iInterchange.iTankDepo.Business.Rental"/>
    <add namespace="iInterchange.iTankDepo.Business.Tracking"/>
    <add namespace="iInterchange.iTankDepo.Business.Transportation" />
    <add namespace="iInterchange.iTankDepo.Data"/>
    <add namespace="iInterchange.iTankDepo.DataAccess"/>
    <add namespace="iInterchange.iTankDepo.Entities"/>
    <add namespace="iInterchange.iTankDepo.GatewayFramework"/>
  </namespaces>

  <controls>
    <add tagPrefix="Hdr" tagName="PaneHeader" src="~/UserControls/PaneHeader.ascx"/>
    <add tagPrefix="ap" tagName="ActionPane" src="~/UserControls/ActionPane.ascx"/>
    <add tagPrefix="atp" tagName="Attachment" src="~/UserControls/Attachment.ascx"/>
    <add tagPrefix="sp" tagName="SubmitPane" src="~/UserControls/SubmitPane.ascx"/>
    <add tagPrefix="tvw" tagName="TreeView" src="~/UserControls/iTreeView.ascx"/>
    <add tagPrefix="mnu" tagName="Menu" src="~/UserControls/iMenu.ascx"/>
    <add tagPrefix="nv" tagName="Navigation" src="~/UserControls/Navigation.ascx"/>
    <add tagPrefix="iFg" assembly="iInterchange.WebControls.v4.Data.iFlexGrid" namespace="iInterchange.WebControls.v4.Data"/>
    <add tagPrefix="Inp" assembly="iInterchange.WebControls.v4" namespace="iInterchange.WebControls.v4.Input"/>
    <add tagPrefix="Nav" assembly="iInterchange.WebControls.v4" namespace="iInterchange.WebControls.v4.Navigation"/>
    <add tagPrefix="rsweb" assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" namespace="Microsoft.Reporting.WebForms"/>
     <add tagPrefix="fUpload"  assembly="FlashUpload" namespace="FlashUpload" />

  </controls>
</pages>